<mat-drawer-container class="sg-students-list stretchable">
    <mat-drawer [(opened)]="drawerOpened" [mode]="drawerMode">
	<mat-nav-list (click)="onListClick($event)">
	    <a mat-list-item *ngFor="let st of students" routerLink="{{st._id}}" routerLinkActive="active">
		<span class="sg-student-name">{{st.last_name + ', ' + st.first_name}}</span>
		<span class="sg-fill-space"></span>
		<span *ngIf="st.repeats" class="sg-badge sg-badge-repeats">R</span>
		<span *ngIf="studentStats && hasFailed(st._id)" class="sg-badge" [ngClass]="failedBadgeClasses(st._id)">{{studentStats[st._id].failed}}</span>
	    </a>
	</mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
	<router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
