.student-card {
    flex: 0 0 280px;
}

/*.student-card .card {
    flex-direction: row;
}*/

.student-card .card-body {
    padding: 0px;
}

.student-card .card-body img {
    width: 100px;
}

.student-card .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.table {
    margin-bottom: unset;
}

.table th {
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
    min-width: 50px;
}
