<mat-grid-list *ngIf="student && studentStats" [cols]="cols" rowHeight="300px" gutterSize="10px" class="sg-student-detail">
    <mat-grid-tile>
	<mat-card>
	    <mat-card-title>
		{{student.last_name + ', ' + student.first_name | uppercase}}
	    </mat-card-title>
	    <mat-card-content>
		<table>
		    <tbody>
		        <tr>
			    <th rowspan="2" class="sg-student-pic">
				<img mat-card-avatar src="{{'assets/pics/' + student._id + '.jpg'}}" onerror="this.src='assets/student.png'">
			   </th>
			   <th>Edat</th>
			   <th>Mitjana</th>
			</tr>
		        <tr>
			    <td>{{ageInYears()}}</td>
			    <td>{{studentStats[studentStats.length - 1].stats.avg | number:'1.2-2'}}</td>
			</tr>
		    </tbody>
		</table>
	    </mat-card-content>    
	</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
	<failedChart [stats]="studentStats" class="sg-flex-chart"></failedChart>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols">
	<gradesChart [grades]="studentGrades" [subjects]="student.subjects" [subjectStats]="subjectStats" class="sg-flex-chart"></gradesChart>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols">
	<deltasChart [grades]="studentGrades" [prev_grades]="studentPrevGrades" [subjects]="student.subjects" class="sg-flex-chart"></deltasChart>
    </mat-grid-tile>
</mat-grid-list>
