<div class="row bg-white">
    <div class="navbar-expand-md">
    	<div sgCollapse orientation="horizontal" class="sidebar low stretchable bg-secondary navbar-collapse collapse" id="toggleableSidebar">
	    <table class="table">
	        <tbody>
	            <tr *ngFor="let st of students" routerLink="{{st._id}}" routerLinkActive="active">
	    	        <td><div class="name-col">{{st.last_name + ', ' + st.first_name}}</div></td>
	    	        <td class="badge-col"><span *ngIf="st.repeats" class="badge badge-pill badge-info">R</span></td>
	    	        <td *ngIf="studentStats" class="badge-col"><span *ngIf="hasFailed(st._id)" [ngClass]="badgeClasses(st._id)">{{studentStats[st._id].failed}}</span></td>
	            </tr>
	        </tbody>
	    </table>
        </div>
    </div>
    <div class="col stretchable">
        <router-outlet></router-outlet>
    </div>
</div>

