/*
 * Qualifications table
 */
.table-sm tr {
    font-size: 0.7rem;
    white-space: nowrap;
}

.subject {
    text-align: center;
    width: 40px;
    overflow: hidden;
}

.student {
    width: 230px;
    overflow: hidden;
}

thead {
    display: block;
}

tbody {
    display: inline-block;
}

table {
    margin-top: 1em;
}

.not-enroled {
    background: repeating-linear-gradient( 45deg, #fff, #fff 2px, #eee 2px, #eee 4px);
}

.bg-adapted {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><path fill='%23999' d='M0 0h1L0 1z'/></svg>");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 8px 10px;   
}

input {
    text-align: right;
    width: 2rem;
    background-color: transparent;
    outline: none;
    border: 0px;
}

