.btn-link {
    color: white;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.btn-link:hover {
    text-decoration: none;
    color: darkgray;
}

.btn-link.active:hover {
    color: white;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-item {
    margin: 0;
}

.btn-link.active {
    background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='%23dddddd' d='M1 3L0 4h2z'/></svg>") no-repeat center 1px;
}

.sub-select {
    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .sub-select {
	float: right;
    }
}
