<div class="ingest-panel stretchable">
    <div class="card text-center">
	<h4 class="card-header">Ingest</h4>
        <div class="card-body">
	    <h6 class="card-subtitle text-muted">Upload a file containing academic data from your organization.</h6>
	</div>
	<div class="card-body">
	    <input type="file" (change)="fileChangeEvent($event)" [disabled]="state==IngestState.UPLOAD || state==IngestState.PROCESS">
	    <button type="button" class="btn btn-primary" (click)="upload()" [disabled]="fileToUpload==null" [disabled]="upload_disabled()">Upload</button>
	</div>
	<div class="card-body" style="text-align: start;">
            <div [ngClass]="alert_classes()" class="alert alert-danger fade" role="alert">
                <strong>{{alert_title}}</strong> {{alert_msg}}
            </div>
        </div>
	<div class="card-footer"> 
	    <div [ngClass]="progress_classes()" class="progress fade">
		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{progress_msg}}</div>
	    </div>
	</div>
    </div>
</div>
