<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#topToggleableNavbar" aria-controls="topToggleableNavbar" aria-expanded="false" aria-label="Toggle top navigation bar">
	<span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">
        <img src="/assets/sango_logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Sango">
        Sango
    </span>
    <div sgCollapse class="collapse navbar-collapse" id="topToggleableNavbar">
	<nav class="navbar-nav">
	    <!--<a class="nav-item nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>-->
	    <a class="nav-item nav-link" routerLink="assessments" routerLinkActive="active">Assessments</a>
	    <!--<a class="nav-item nav-link" routerLink="viewer" routerLinkActive="active">Viewer</a>-->
	    <a class="nav-item nav-link" routerLink="ingest" routerLinkActive="active">Ingest</a>
	</nav>
    </div>
</nav>
<router-outlet></router-outlet>
