<div class="hz-divider">
    <ul class="nav nav-pills hz-divider-content hz-divider-nav">
	<li class="nav-item">
	    <a class="nav-link active">Active tab</a>
	    <!--<button [ngClass]="{'active': checkedButtonId == 'btn-group'}" (click)="onButtonClicked($event)" id="btn-group" type="button" class="btn btn-primary active">av1</button>-->
	</li>
	<li class="nav-item">
	    <a class="nav-link">Tab</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="#">Tab</a>
	</li>
    </ul>
</div>
