<div class="assessment-selector">
    <select id="year" (change)="yearSelected($event)" class="form-control" [disabled]="coursesTree==null">
	<option value="-1">Selecciona l'any...</option>
	<option *ngFor="let c of coursesTree; let i=index" [value]="i">{{c._id}}</option>
    </select>
    <select id="group" (change)="groupSelected($event)" class="form-control" [disabled]="groups==null">
        <option value="-1">Selecciona un grup...</option>
        <option *ngFor="let g of groups; let i=index" [value]="i">{{g.group}}</option>
    </select>
    <select id="assessment" (change)="assessmentSelected($event)" class="form-control" [disabled]="assessments_id==null">
        <option value="-1" [selected]="selectedAssessmentId==null">Selecciona l'avaluació...</option>
        <option *ngFor="let s of assessments_name; let i=index" [value]="i">{{s}}</option>
    </select>
</div>
