<div class="fixed-top-sub">
    <!--
    <assessment-selector (selectedCourseChanged)="onSelectedCourseChanged($event)" (selectedAssessmentChanged)="onSelectedAssessmentChanged($event)"></assessment-selector>
-->
</div>
    <!--
    <div class="container-fluid" *ngIf="assessmentId">
	<ngb-tabset activeId="marks">
	    <ngb-tab title="Alumnes" id="students">
                <template ngbTabContent>
                    <assessment-list [course]="course"
				     [assessment]="assessment"
				     [assessmentOrder]="assessmentOrder"
				     [prevAssessment]="prevAssessment"
				     [students]="students"
				     [studentStats]="studentStats"
				     [subjectStats]="subjectStats">
		    </assessment-list>
                </template>
            </ngb-tab>
	    <ngb-tab title="Grup" id="group">
                <template ngbTabContent>
                    <assessment-group [course]="course"
				      [assessmentOrder]="assessmentOrder"
				      [students]="students"
				      [studentStats]="studentStats[assessmentId].stats"
				      [subjectStats]="subjectStats"
				      [levelStats]="levelStats">
		    </assessment-group>
                </template>
            </ngb-tab>
	    <ngb-tab title="Notes" id="marks">
		<template ngbTabContent>
		    <assessment-table (onSaveAssessment)="onSaveAssessment($event)"
				      [assessment]="assessment"
				      [students]="students">
		    </assessment-table>
		</template>
	    </ngb-tab>
	</ngb-tabset>
    </div>
    -->
