

/*
 * Main content
 */
/*
.main {
	padding: 20px;
}
*/
/*
 * Qualifications table
 */
.table-sm tr {
    font-size: 0.7rem;
    white-space: nowrap;
}

.subject {
    text-align: center;
}

.not-enroled {
    background: repeating-linear-gradient( 45deg, #fff, #fff 2px, #eee 2px, #eee 4px);
}
/*
.bg-adapted {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 8px 10px;   
}
*/
.bg-adapted:before {
    content: "*";
}
/*
td, th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.qualification-header {
	width: 3em;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

.qualification {
	padding: 0.1em;
}
*/
input {
    text-align: right;
    width: 2rem;
    /*height: 1rem;
    float: right;*/
    background-color: transparent;
    outline: none;
    border: 0px;
}

