.fixed-top-sub {
    position: fixed;
    top: 56px;
    right: 0px;
    left: 0px;
    z-index: 900;
}

.fixed-top-sub .btn-link {
    color: white;
}

.fixed-top-sub .btn-link:hover {
    text-decoration: none;
    color: lightgray;
}

.fixed-top-sub .nav-tabs {
    border: none;
}

.fixed-top-sub .nav-tabs .nav-item {
    margin: 0;
}

.fixed-top-sub .btn-link.active {
    background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='%23fff' d='M1 3L0 4h2z'/></svg>") no-repeat center 1px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

/*
.nav {
    margin-top: -40px;
}

.nav-tabs {
	margin-left: -15px;
	margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
}

.nav-item {
    float: right;
}
*/
