<div *ngIf="students && studentStats">
	<div class="row-fluid">
		<div id="pie_chart" chartType="PieChart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" GoogleChart class="col-sm-6 chart_400"></div>
		<div id="histogram_chart" chartType="Histogram" [chartData]="histogram_ChartData" [chartOptions]="histogram_ChartOptions" GoogleChart class="col-sm-6 chart_400"></div>
	</div>
	<!--
	<div class="row-fuid">
		<div id="averages_chart" chartType="ComboChart" [chartData]="averages_ChartData" [chartOptions]="averages_ChartOptions" GoogleChart class="chart_400 col-sm-12"></div>
	</div>
	-->
</div>

