<div *ngIf="course && assessment && assessmentOrder>=0 && prevAssessment && students && studentStats && subjectStats" class="row-fluid">
    <div class="col-sm-5 col-md-5 col-lg-4 sidebar">
	<ul class="nav nav-sidebar students">
	    <li *ngFor="let student of assessment.students; let i=index" [class.selected]="student.student_id === selectedStudentId" (click)="onSelect(student.student_id, i)" class="row">
		<span *ngIf="isWarning(student.student_id)" class="badge warning col-md-1">!</span>
		<span *ngIf="isDanger(student.student_id)" class="badge danger col-md-1">!</span>
		<span [class]="isWarning(student.student_id) || isDanger(student.student_id) ? 'col-md-10' : 'offset-md-1 col-md-10'">{{students[student.student_id].last_name + ', ' + students[student.student_id].first_name}}</span>
		<span *ngIf="student.repeater" class="badge repeat col-md-1">R</span>
	    </li>
	</ul>
    </div>
    <div *ngIf="selectedStudentId" class="col-sm-7 offset-sm-5 col-md-7 offset-md-5 col-lg-8 offset-lg-4 main">
	<student-detail [course]="course"
			[assessment]="assessment"
			[assessmentOrder]="assessmentOrder"
			[prevAssessment]="prevAssessment"
			[studentIndex]="selectedStudentIndex"
			[student]="students[selectedStudentId]" 
			[studentStats]="studentStats" 
			[subjectStats]="subjectStats"> 
	</student-detail>
    </div>
</div>

