<div class="fixed-top-sub bg-primary container-fluid">
    <div class="row align-items-end">
	<div class="col-8">
	    <breadcrumb-selector [selects]="selects" (breadcrumbSelectorChanged)="onSelectorChanged($event)"></breadcrumb-selector>
	</div>
	<div *ngIf="selectedGroupId" class="col-4">
	    <div class="float-right">
		<button id="btn-marks" type="button" class="btn btn-link">Marks</button>
		<button id="btn-group" type="button" class="btn btn-link">Group</button>
		<button id="btn-students" type="button" class="btn btn-link">Students</button>
	    </div>
	</div>
    </div>
</div>
<div *ngIf="selectedGroupId" class="container-fluid">
hole
</div>
    <!--
    <div class="container-fluid" *ngIf="assessmentId">
	<ngb-tabset activeId="marks">
	    <ngb-tab title="Alumnes" id="students">
                <template ngbTabContent>
                    <assessment-list [course]="course"
				     [assessment]="assessment"
				     [assessmentOrder]="assessmentOrder"
				     [prevAssessment]="prevAssessment"
				     [students]="students"
				     [studentStats]="studentStats"
				     [subjectStats]="subjectStats">
		    </assessment-list>
                </template>
            </ngb-tab>
	    <ngb-tab title="Grup" id="group">
                <template ngbTabContent>
                    <assessment-group [course]="course"
				      [assessmentOrder]="assessmentOrder"
				      [students]="students"
				      [studentStats]="studentStats[assessmentId].stats"
				      [subjectStats]="subjectStats"
				      [levelStats]="levelStats">
		    </assessment-group>
                </template>
            </ngb-tab>
	    <ngb-tab title="Notes" id="marks">
		<template ngbTabContent>
		    <assessment-table (onSaveAssessment)="onSaveAssessment($event)"
				      [assessment]="assessment"
				      [students]="students">
		    </assessment-table>
		</template>
	    </ngb-tab>
	</ngb-tabset>
    </div>
    -->
