/*
.assessment-selector {
    padding: 10px;
}

select {
    width: 15%;
    display: inline;
}
*/

.breadcrumb {
    padding: 0 0 0 1rem;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb .custom-select {
    color: white;
    border: none;
}
