<div style="height: 100%; display: flex; align-items: center; justify-content: center">
    <div class="card text-center" style="width: 30rem;">
	<h4 class="card-header">Ingest</h4>
        <div class="card-block">
	    <h6 class="card-subtitle mb-2 text-muted">Upload a file containing academic data from your organization.</h6>
	</div>
	<div class="card-block">
	    <input type="file" (change)="fileChangeEvent($event)" style="width: 20rem;" [disabled]="state==IngestState.UPLOAD || state==IngestState.PROCESS">
	    <button type="button" class="btn btn-primary" (click)="upload()" [disabled]="fileToUpload==null" [disabled]="upload_disabled()">Upload</button>
	</div>
	<div class="card-block" style="text-align: start;">
            <div [ngClass]="alert_classes()" class="alert alert-danger alert-dismissible fade" role="alert">
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
                <strong>{{alert_title}}</strong> {{alert_msg}}
            </div>
        </div>
	<div class="card-footer"> 
	    <div [ngClass]="progress_classes()" class="progress fade">
		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{progress_msg}}</div>
	    </div>
	</div>
    </div>
</div>
