<div class="row-fluid">
    <div class="col-sm-3">
	<img src="images/student.png">
    </div>
    <div class="col-sm-4">
	<h2>{{student.last_name + ', ' + student.first_name | uppercase}}</h2>
    </div>
    <div id="failed_chart" chartType="ColumnChart" [chartData]="failed_ChartData" [chartOptions]="failed_ChartOptions" GoogleChart class="col-sm-5 chart_200"></div>
</div>
<!--
<div class="row-fuid">
    <div id="marks_chart" chartType="ComboChart" [chartData]="marks_ChartData" [chartOptions]="marks_ChartOptions" GoogleChart class="chart_300 col-sm-12"></div>
</div>
<div class="row-fuid">
    <div id="deltas_chart" chartType="ColumnChart" [chartData]="deltas_ChartData" [chartOptions]="deltas_ChartOptions" GoogleChart class="chart_300 col-sm-12"></div>
</div>
-->
