<div class="fixed-top-sub">
    <assessment-selector (selectedAssessmentChanged)="onSelectedAssessmentChanged($event)"></assessment-selector>

    <div class="container-fluid" *ngIf="assessmentId">
	<ngb-tabset activeId="marks">
	    <ngb-tab title="Alumnes" id="students">
                <template ngbTabContent>
		    <h3>Alumnes</h3>
                    <!--<session-list [session]="session"></session-list>-->
                </template>
            </ngb-tab>
	    <ngb-tab title="Grup" id="group">
                <template ngbTabContent>
		    <!--<h3>Grup</h3>-->
                    <assessment-group [students]="students" [studentsStats]="studentsStats"></assessment-group>
                </template>
            </ngb-tab>
	    <ngb-tab title="Notes" id="marks">
		<template ngbTabContent>
		    <!--<h3 *ngIf="assessment">Notes de {{assessment.name}}</h3>-->
		    <assessment-table (onSaveAssessment)="onSaveAssessment($event)" [assessment]="assessment" [students]="students"></assessment-table>
		</template>
	    </ngb-tab>
	</ngb-tabset>
    </div>
</div>
