<div class="fixed-top-sub">
    <assessment-selector (assessmentChanged)="onAssessmentChanged($event)"></assessment-selector>

    <div class="container-fluid" *ngIf="assessmentId">
	<ngb-tabset activeId="marks">
	    <ngb-tab title="Alumnes" id="students">
                <template ngbTabContent>
		    <h3>Alumnes</h3>
                    <!--<session-list [session]="session"></session-list>-->
                </template>
            </ngb-tab>
	    <ngb-tab title="Grup" id="course">
                <template ngbTabContent>
		    <h3>Grup</h3>
                    <!--<session-group [session]="session"></session-group>-->
                </template>
            </ngb-tab>
	    <ngb-tab title="Notes" id="marks">
		<template ngbTabContent>
		    <h3>Notes</h3>
		    <!--<session-table [session]="session"></session-table>-->
		</template>
	    </ngb-tab>
	</ngb-tabset>
    </div>
</div>
