<html>
    <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sango - Academic data analisys platform</title>
	<meta name="description" content="Application to analize and visualize academic data">
	<meta name="author" content="Rafa Rubio">
	<link rel="icon" type="image/png" href="../assets/sango_logo.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body class="grey lighten-5">
	<div style="height: 100%; display: flex; align-items: center; justify-content: center">
	    <div class="card">
		<div class="card-content">
		    <div class="row">
			<div class="col s5">
			    <img src="../assets/sango_logo.svg" width="80px" alt="Sango">
			</div>
			<div class="col s7">
			    <h3>Sango</h3>
			</div>
		    </div>
		    <% if (error) { %>
		    <div class="card red darken-1" role="alert">
			<div class="card-content">
			    <strong class="white-text"><%= error %></strong>
			</div>
		    </div>
		    <% } %>
		    <form action="/login" method="post" class="text-right">
			<div class="row">
			    <div class="input-field col s12">
				<input type="text" id="username" name="username">
				<label for="username">Usuari</label>
			    </div>
			</div>
			<div class="row">
			    <div class="input-field col s12">
				<input type="password" id="password" name="password">
				<label for="password">Contrassenya</label>
			    </div>
			</div>
        		<button type="submit" class="btn waves-effect">Entra</button>
		    </form>
		</div>
	    </div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>
