<mat-toolbar color="primary" class="mat-elevation-z3">
    <mat-toolbar-row>
	<nav class="sg-assessment-nav">
	    <composed-selector [selects]="selects" [(value)]="currentSelection" (composedSelectorChanged)="onSelectorChanged($event)"></composed-selector>
	    <div class="sg-assessment-section sg-hide-small">
		<span class="sg-fill-space"></span>
		<div *ngIf="isNavVisible()">
		    <a mat-button class="sg-growing-font" [routerLink]="childRoute('grades')" routerLinkActive="active">Qualificacions</a>
		    <a mat-button class="sg-growing-font" [routerLink]="childRoute('group')" routerLinkActive="active">Grup</a>
		    <a mat-button class="sg-growing-font" [routerLink]="childRoute('students')" routerLinkActive="active">Alumnes</a>
		</div>
	    </div>
	</nav>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isNavVisible()" class="sg-show-small">
	<span class="sg-fill-space"></span>
	<a mat-button class="sg-growing-font" [routerLink]="childRoute('grades')" routerLinkActive="active">Qualificacions</a>
	<a mat-button class="sg-growing-font" [routerLink]="childRoute('group')" routerLinkActive="active">Grup</a>
	<a mat-button class="sg-growing-font" [routerLink]="childRoute('students')" routerLinkActive="active">Alumnes</a>
	<span class="sg-fill-space"></span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
