<div class="sg-ingest-panel sg-text-center">
    <mat-card>
	<mat-card-title>Importació</mat-card-title>
	<mat-card-subtitle>Pugeu un arxiu amb dades acadèmiques</mat-card-subtitle>
	<mat-card-content class="input-file">
	    <input type="file" #inputFile (change)="fileChangeEvent($event)" hidden />
	    <button mat-raised-button color="primary" (click)="inputFile.click()" [disabled]="state==IngestState.UPLOAD || state==IngestState.PROCESS">Selecciona</button>
	    <span *ngIf="fileToUpload" [ngClass]="filename_field_classes()" class="sg-filename-field">{{fileToUpload.name}}</span>
	    <span *ngIf="!fileToUpload" class="sg-filename-field sg-no-filename">Trieu un fitxer</span>
	    <button mat-icon-button (click)="upload()" [disabled]="fileToUpload==null || upload_disabled()" color="primary">
		<mat-icon aria-label="Navega">file_upload</mat-icon>
	    </button>
	</mat-card-content>
	<mat-card-content [ngClass]="progress_classes()" class="sg-progress-bar sg-fade">
	    <div>{{progress_msg}}</div>
	    <mat-progress-bar [mode]="progress_bar_mode" [value]="progress_value"></mat-progress-bar>
	</mat-card-content>
        <mat-card [ngClass]="alert_classes()" class="sg-fade sg-alert sg-alert-danger" role="alert">
            <strong>{{alert_title}}</strong> {{alert_msg}}
        </mat-card>
    </mat-card>
</div>
