<div *ngIf="student" class="container-fluid">
    <!--<div class="col">
	<img src="images/student.png">
    </div>-->
    <div class="row">
	<div class="col">
	    <h2>{{student.last_name + ', ' + student.first_name | uppercase}}</h2>
	    <h5>Average: {{studentStats[studentStats.length - 1].stats.avg | number}}</h5>
	</div>
	<div class="col">
	    <failedChart [stats]="studentStats"></failedChart>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    <gradesChart [grades]="studentGrades" [subjects]="student.subjects" [subjectStats]="subjectStats"></gradesChart>
	</div>
    </div>
    <div class="row">
	<div class="col">
	    <deltasChart [grades]="studentGrades" [prev_grades]="studentPrevGrades" [subjects]="student.subjects"></deltasChart>
	</div>
    </div>
    <!--
    <div id="failed_chart" chartType="ColumnChart" [chartData]="failed_ChartData" [chartOptions]="failed_ChartOptions" GoogleChart class="col-sm-5 chart_200"></div>
</div>
<div class="row-fuid">
    <div id="marks_chart" chartType="ComboChart" [chartData]="marks_ChartData" [chartOptions]="marks_ChartOptions" GoogleChart class="chart_200 col-sm-12"></div>
</div>
<div class="row-fuid">
    <div id="deltas_chart" chartType="ColumnChart" [chartData]="deltas_ChartData" [chartOptions]="deltas_ChartOptions" GoogleChart class="chart_200 col-sm-12"></div>-->
</div>
