<div class="bg-white">
    <div *ngIf="student && studentStats">
        <div class="row first-row">
	    <div class="col student-card">
		<div class="card">
		    <div class="card-header">
			<img class="card-img" src="assets/student.png">
			<h5 class="card-title">{{student.last_name + ', ' + student.first_name | uppercase}}</h5>
		    </div>
                    <div class="card-body">
			<table class="table table-sm">
			    <tbody>
				<tr>
				    <th><h6 class="text-muted text-right">Age:</h6></th>
				    <td><h6 class="text-right">{{ageInYears()}}</h6></td>
				</tr>
				<tr>
				    <th><h6 class="text-muted text-right">Average:</h6></th>
				    <td><h6 class="text-right">{{studentStats[studentStats.length - 1].stats.avg | number:'1.2-2'}}</h6></td>
				</tr>
			    </tbody>
	                <!--<h6 class="text-muted">Age: {{studentAge}}</h6>-->
	                <!--<h6 class="text-muted">Average: {{studentStats[studentStats.length - 1].stats.avg | number:'1.2-2'}}</h6>-->
			</table>
		    </div>
                </div>
	    </div>
	    <div class="col">
	        <failedChart [stats]="studentStats"></failedChart>
	    </div>
        </div>
        <div class="row">
	    <div class="col">
	        <gradesChart [grades]="studentGrades" [subjects]="student.subjects" [subjectStats]="subjectStats"></gradesChart>
	    </div>
        </div>
        <div class="row">
	    <div class="col">
	        <deltasChart [grades]="studentGrades" [prev_grades]="studentPrevGrades" [subjects]="student.subjects"></deltasChart>
	    </div>
        </div>
    </div>
</div>
