<div class="row">
    <div class="col-4 stretchable">
	<!--
	<ul class="stretchable scroll-y">
	    <li *ngFor="let st of students" class="row">
		<div class="col-10"><span routerLink="{{st._id}}" routerLinkActive="active">{{st.last_name + ', ' + st.first_name}}</span></div>
		<div class="col-1"><span *ngIf="st.repeats" class="badge badge-pill badge-info">R</span></div>
		<div *ngIf="studentStats" class="col-1"><span *ngIf="hasFailed(st._id)" [ngClass]="badgeClasses(st._id)">{{studentStats[st._id].failed}}</span></div>
	    </li>
	</ul>
	-->
	<table class="table">
	    <tbody>
	        <tr *ngFor="let st of students">
	    	<td><span routerLink="{{st._id}}" routerLinkActive="active">{{st.last_name + ', ' + st.first_name}}</span></td>
	    	<td><span *ngIf="st.repeats" class="badge badge-pill badge-info">R</span></td>
	    	<td *ngIf="studentStats"><span *ngIf="hasFailed(st._id)" [ngClass]="badgeClasses(st._id)">{{studentStats[st._id].failed}}</span></td>
	        </tr>
	    </tbody>
	</table>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>

