.table {
    color: white;
    margin-bottom: 0px;
    font-size: small;
}

tr:hover {
    color: white;
    background-color: gray;
}

.active {
    color: gray;
    background-color: lightgray;
}

.sidebar {
    padding-left: 0px;
    padding-right: 0px;
    width: 340px;
    flex: none;
}
