.table {
    color: white;
    margin-bottom: 0px;
    font-size: small;
}

tr:hover {
    color: white;
    background-color: gray;
}

.active {
    color: gray;
    background-color: #e9ecef;
}

.badge-col {
    text-align: right;
    font-size: medium;
}

.name-col {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 218px;
}

.sidebar {
    padding-left: 0px;
    padding-right: 0px;
    width: 360px;
    flex: none;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
    .sidebar {
	width: 300px;
	font-size: smaller;
    }

    .name-col {
        width: 178px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        position: absolute;
	/*left: -300px;*/
    }
}

.collapsing {
    /*overflow: unset;*/
    transition: left 0.35s ease;
}

.navbar-collapse {
    align-items: unset;
}
