<div class="row">
    <div class="col-4">
	<ul class="resizable scroll-y">
	    <li *ngFor="let st of students" class="row">
		<div class="col-10"><span routerLink="{{st._id}}" routerLinkActive="active">{{st.last_name + ', ' + st.first_name}}</span></div>
		<div class="col-1"><span *ngIf="st.repeats" class="badge badge-pill badge-info">R</span></div>
		<div *ngIf="studentStats" class="col-1"><span *ngIf="hasFailed(st._id)" [ngClass]="badgeClasses(st._id)">{{studentStats[st._id].failed}}</span></div>
	    </li>
	</ul>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>

