<nav class="sg-navbar-header">
    <div class="sg-brand">
	<img src="/assets/sango_logo.svg" width="30" height="30" alt="Sango">
	<span>Sango</span>
    </div>
    <span class="sg-fill-space"></span>
    <div class="sg-hide-small">
	<a mat-button color="primary" class="sg-growing-font" routerLink="/assessments" routerLinkActive="active">Avaluacions</a>
	<a mat-button color="primary" class="sg-growing-font" routerLink="/ingest" routerLinkActive="active">Importació</a>
    </div>
    <span class="sg-fill-space"></span>
    <span>{{user}}</span>
    <a mat-icon-button color="primary" routerLink="/logout">
	<mat-icon>power_settings_new</mat-icon>
    </a>
</nav>
<nav class="sg-show-small">
    <span class="sg-fill-space"></span>
    <a mat-button color="primary" class="sg-growing-font" routerLink="/assessments" routerLinkActive="active">Avaluacions</a>
    <a mat-button color="primary" class="sg-growing-font" routerLink="/ingest" routerLinkActive="active">Importacions</a>
    <span class="sg-fill-space"></span>
</nav>
