<div class="row bg-white">
    <div class="col scroll-y resizable">
	<div class="row">
	    <div class="col-md">
		<failedChart [studentStats]="studentStats"></failedChart>
	    </div>
	    <div class="col-md">
		<passedChart [students]="students" [studentStats]="studentStats"></passedChart>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md">
		<averagesChart [subjects]="subjects" [subjectStats]="subjectStats" [levelStats]="levelStats"></averagesChart>
	    </div>
	    <div class="col-md">
		<ratiosChart [subjects]="subjects" [subjectStats]="subjectStats" [levelStats]="levelStats"></ratiosChart>
	    </div>
	</div>
    </div>
</div>
