<html>
    <head>
	<meta charset="utf-8">
	<title>Sango - Academic data analisys platform</title>
	<base href="/">
	
	<meta name="description" content="Application to analize and visualize academic data">
	<meta name="author" content="Rafa Rubio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="assets/favicon.png">
	<script>
	    var _user = '<%= user.cn %>';
	    var googleChartsLoaded = false;
	    System.import('app').catch(function(err){ console.error(err); });
	</script>
    </head>
    <body>
	<aa-app>
	    <div style="height: 100%; display: flex; align-items: center; justify-content: center">
		<div class="media">
		    <img src="assets/sango_logo_anim.gif" width="80px" height="80px" alt="Sango" class="d-flex mr-3">
		    <div class="media-body">
			<h1 class="mt-0">Sango</h1>
			Loading...
		    </div>
		</div>
	    </div>
	</aa-app>
    </body>
</html>
