<!doctype html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Sango - Academic data analisys platform</title>
	<base href="/">
	
	<meta name="description" content="Application to analize and visualize academic data">
	<meta name="author" content="Rafa Rubio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="assets/sango_logo.svg">
    </head>
    <body>
	<sango-app class="mat-typography mat-app-background">
	    <div style="height: 100%; display: flex; align-items: center; justify-content: center">
		<div>
		    <!--<img src="assets/sango_logo_anim.gif" width="80px" height="80px" alt="Sango">-->
		    <img src="assets/sango_logo.svg" width="80px" height="80px" alt="Sango">
		    <div>
			<h1>Sango</h1>
			Loading...
		    </div>
		</div>
	    </div>
	</sango-app>
        <script>
            var _user = '<%= "<\%= user.cn %\>" %>';
            var googleChartsLoaded = false;
        </script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
    </body>
</html>
