@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'sango-theme.scss';

// use our theme with angular-material-theme mixin
@include angular-material-theme($sango-theme);

mat-toolbar .mat-select-value {
    color: inherit !important;
}

mat-toolbar .mat-select-arrow {
    color: inherit !important;
}

mat-toolbar .mat-select-placeholder {
    color: inherit !important;
}

mat-toolbar .mat-select-disabled {
    color: rgba(255, 255, 255, 0.65) !important;
}

sango-app {
    position: absolute;
    top: 56px;
    bottom: 35px;
    left: 0px;
    right: 0px;
}

sango-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: white;
}

.sg-fixed-bottom {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 35px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sg-text-center {
    text-align: center;
}

.sg-fill-space {
    flex: 1 1 auto !important;
}

.active {
    font-size: large;
}

.sg-show-small {
    display: none !important;
}

nav-divider .mat-tab-link {
        min-width: 72px;
}

@media (max-width: 720px) {
    sango-app {
        top: 92px;
    }

    .sg-hide-small {
        display: none !important;
    }

    .sg-show-small {
        display: flex !important;
    }

    nav-divider .mat-tab-link {
        min-width: 52px;
    }
}

.sg-growing-font {
    transition: font-size .2s cubic-bezier(.35,0,.25,1) !important;
}

nav-divider .mat-tab-links {
    display: flex;
}

.sg-badge {
    border-radius: 24px;
    padding: 2px 8px;
    min-width: 20px;
    text-align: center;
}

.sg-badge-repeats {
    background-color: mat-color($sango-theme-primary);
}

.sg-badge-warning {
    background-color: mat-color($sango-theme-accent, 700);
}

.sg-badge-danger {
    background-color: mat-color($sango-theme-warn);
}
