@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'sango-theme.scss';

// use our theme with angular-material-theme mixin
@include angular-material-theme($sango-theme);

mat-toolbar .mat-select-value {
    color: inherit !important;
}

mat-toolbar .mat-select-arrow {
    color: inherit !important;
}

mat-toolbar .mat-select-placeholder {
    color: inherit !important;
}

mat-toolbar .mat-select-disabled {
    color: lightgrey !important;
}
