/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~material-design-icons/iconfont/material-icons.css";

.sg-lowest {
    z-index: 0;
}

.sg-low {
    z-index: 250;
}

.sg-middle {
    z-index: 500;
}

.sg-hight {
    z-index: 750;
}

.sg-hightest {
    z-index: 1000;
}

/*
 * Charts styles
 */
.sg-chart-h200 {
        height: 200px;
}

.sg-chart-h300 {
        height: 300px;
}

.sg-chart-h400 {
        height: 400px;
}

.sg-chart-h500 {
        height: 500px;
}

.sg-flex-chart {
    flex: auto;
}

.stretchable {
    overflow-y: auto;
}

