body {
	padding-top: 60px;
}

/*
 * Charts styles
 */

.chart_200 {
	height: 200px;
}

.chart_300 {
	height: 300px;
}

.chart_400 {
	height: 400px;
}

/*
 * Subtop navigation bar
 */
.fixed-top-sub .nav {
    margin-top: -40px;
}

.fixed-top-sub .nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
}

.fixed-top-sub .nav-item {
    float: right;
}
